{% extends "::base.html.twig"%}
{%block title%} 
{{ parent()}} - forgot
{% endblock %}
{% block body %}

<form method="POST" action="">
<p> Veillez renseignez votre adresse E-mail</p>
<label>adresse E-mail</label><input name='email' type="email">
<input type="submit" value="envoyer">

{% endblock %}