{% extends "::base.html.twig"%}
{%block title%} 
{{ parent()}} - formaCreate
{% endblock %}
{% block body %}

<p>create_formation

Cet écran permet d’offrir une nouvelle formation, par le biais d’un formulaire.

Les champs du formulaire sont les suivants : 

L’intitulé
Une image représentant la formation
Le descriptif
La date et l’heure de la formation
La durée (en heures)
L’adresse, la ville, le code postal, le pays
Le nombre de places

commentaire </p>
{% endblock %}