{% extends "::base.html.twig"%}
{%block title%} 
{{ parent()}} - logout
{% endblock %}
{% block body %}

<p>Deconnexion (logout)
Cet écran affiche simplement un texte du genre “Vous avez bien été déconnecté”.  
Un bouton permet tout de même de naviguer vers la page d’accueil. </p>
{% endblock %}