{% extends "::base.html.twig"%}
{% form_theme register_form '::bootstrap-form.html.twig' %}
{%block title%} 
{{ parent()}} - register
{% endblock %}

{% block body %}
<h1>Créez votre Kikologue !</h1>

{{ form(register_form, {'attr':{'novalidate': 'novalidate'}}) }}



{% endblock %}
