{% extends "::base.html.twig"%}
{%block title%} 
{{ parent()}} - home
{% endblock %}
{% block body %}

	<h2 class="pageTitle">Kikala !</h2>
	
	<div class="col-xs-12">
		<h3 id="slogan">Echange de connaissance accessible à tous</h3>
	</div>
	
	<div class="col-xs-12 nbUser">
		<p><span class="nbUserB"> {{ nbFormation }}</span> Formations en cours </p>
	</div>
	

	<div class="col-xs-12 nbUser">
		<p>Le nombre d'inscrit est de <span class="nbUserA">  {{ nbUser}} </span></p>
	</div>
	{% if app.user %}
	<div class="newInscrit">
		<p class="message">Bienvenue au nouveau Kiko</p>
	</div>
	{% endif %}
<article>
	<h2 class="pageTitle">Formation à la une</h2>
	
	<p class="col-xs-12 col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	<p class="col-xs-12 col-md-4">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
	<p class="col-xs-12 col-md-4">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
	<p class="col-xs-12 col-md-4">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
</article>
{% endblock %}



    {% block aside %}
	<img src="{{ asset('img/science.png') }} "  height='200' width='200' />
    {% endblock %}
