{% extends "::base.html.twig"%}
{%block title%} 
{{ parent()}} - home
{% endblock %}
{% block body %}

<p>Le nom du site
Le slogan
Le nombre de formations en cours
Le nombre de kikologues inscrits
Un bouton “inscription”
Un bouton “connexion”</p>
{% endblock %}